/* fonts */
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/monaspace-neon';

/* presentation */
@import '@animotion/core/theme';

/* tailwind */
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';
@source '../../node_modules/@animotion/core';

/* reset */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* defaults */
:root {
	--r-background-color: oklch(20% 0.01 272);
	--r-main-font: 'Atkinson Hyperlegible';
	--r-main-font-size: 42px;
	--r-main-color: oklch(98% 0.02 272);
	--r-heading-font: 'Atkinson Hyperlegible';
	--r-code-font: 'Monaspace Neon';
	--r-link-color: oklch(90.54% 0.15 194);
	--ease: linear(
		0 0%,
		0.0036 9.62%,
		0.0185 16.66%,
		0.0489 23.03%,
		0.0962 28.86%,
		0.1705 34.93%,
		0.269 40.66%,
		0.3867 45.89%,
		0.5833 52.95%,
		0.683 57.05%,
		0.7829 62.14%,
		0.8621 67.46%,
		0.8991 70.68%,
		0.9299 74.03%,
		0.9545 77.52%,
		0.9735 81.21%,
		0.9865 85%,
		0.9949 89.15%,
		1 100%
	);
	--view-transition-duration: 0.6s;
}

/* code block background */
div:has(> pre) {
	padding: --spacing(4) --spacing(8);
	background-color: oklch(24% 0.02 272);
	border-top: 1px solid oklch(34% 0.02 272);
	border-radius: var(--radius-lg);
}

/* for animations */
.hidden {
	display: none;
}

/* view transitions */
html {
	view-transition-name: none;
}

/* all view transitions */
::view-transition-group(*) {
	animation-duration: var(--view-transition-duration);
	animation-timing-function: var(--ease);
}

/* entry transition */
::view-transition-new(*):only-child {
	animation: scale-in var(--view-transition-duration) var(--ease);
}

/* exit transition */
::view-transition-old(*):only-child {
	animation: scale-out var(--view-transition-duration) var(--ease);
}

@keyframes scale-in {
	from {
		scale: 0;
		opacity: 0;
	}
}

@keyframes scale-out {
	to {
		scale: 0;
		opacity: 0;
	}
}

@keyframes rotate {
	from {
		opacity: 0;
	}
	20% {
		rotate: 0deg;
	}
	40% {
		opacity: 1;
	}
	to {
		rotate: 360deg;
	}
}
